html{
	box-sizing: border-box;	
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica,sans-serif;
}
h1{
	position: fixed;
	width: 100%;
	font-size:250%;
	color: #fff;
	text-align: center;
}
section{
	section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh; /* Full screen */
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
}
/*--Insert your own background image below---*/
.I{
background-image:url(images/1.jpg);
}
.II{
	background-image: url(images/2.jpg);
}
.III{
	background-image: url(images/3.jpg);
}
.IV{
	background-image: url(images/4.jpg);
}
.V{
	background-image: url(images/5.jpg);
}
.VI{
	background-image: url(images/6.jpg);
}
.VII{
	background-image: url(images/7.jpg);
}
.VIII{
	background-image: url(images/8.jpg);
}
.IX{
	background-image: url(images/9.jpg);
}
.X{
	background-image: url(images/10.jpg);
}
